<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miles.ifeng.test"
    android:versionCode="1000"
    android:versionName="4.3.9" >

    <uses-sdk android:minSdkVersion="15" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.ifeng.news2" />
    
     <application
        android:icon="@drawable/ic_launcher">
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>